<!DOCTYPE html>
<html lang='en'>

<head>
    <link rel="stylesheet" href="style.css">
    <title>Students with Nest</title>
</head>

<body>
<form action="students" method="post">
    <label>Matriculation number: <input type="number" name="matriculationNumber"></label>
    <label>Name: <input type="text" name="name"></label>
    <button type="submit">Save</button>
</form>

<div class="students">
    {{#each students}}
        <div>{{matriculationNumber}}</div>
        <div>{{name}}</div>
    {{/each}}
</div>
</body>
</html>
